# ========================
# Variables de entorno
# ========================
.env
.env.*

# ========================
# Entornos virtuales
# ========================
fastapi-v/
venv/
env/
.venv/
pyvenv.cfg

# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# Logs
# ========================
*.log

/geoportal-demo
